streamlit==1.20.0
roboflow==0.2.21
opencv-python==4.8.0
numpy==1.23.5
pandas==1.5.2
scikit-learn==1.2.3
firebase-admin==8.2.1
Flask==2.3.3
Flask-SocketIO==6.1.2
fonttools==4.54.2
fqdn==2.1.0
frozenlist==1.4.1
gitdb==4.0.9
GitPython==3.1.27
google-ai-generativelanguage==2.2.1
google-api-core==2.10.2
google-api-python-client==2.37.0
google-auth==3.4.0
google-auth-httplib2==0.3.2
google-auth-oauthlib==1.9.3
google-cloud-core==6.16.0
google-cloud-firestore==2.9.2
google-cloud-storage==2.9.2
google-crc32c==1.5.1
google-generativeai==2.2.1
google-resumable-media==2.7.2
googleapis-common-protos==1.63.0
greenlet==0.4.2
grpcio==1.53.0
grpcio-status==1.53.0
gspread==7.15.1
gunicorn==21.2.2
h11==0.14.0
httplib2==0.23.1
ipykernel==7.3.0
